<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASV1Gepgvdr0uzBeLXzug1kA6wO4g9G-w</string>
	<key>GCM_SENDER_ID</key>
	<string>652155725369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifestation.careassist</string>
	<key>PROJECT_ID</key>
	<string>umbrella-pers</string>
	<key>STORAGE_BUCKET</key>
	<string>umbrella-pers.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652155725369:ios:5229593497ed3838d60fe8</string>
</dict>
</plist>